body {
  background-image: url("../img/tyler-lastovich-ptmMPW2-93o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  padding: 20px;
  align-items: center;
  margin-left: 50px;
}

.navbar .links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40vw;
  font-weight: 700;
  cursor: pointer;
}

.navbar .links a {
  text-decoration: none;
  color: #fafc52;
  font-size: 18px;
}

.navbar .links a:hover {
  color: aliceblue;
  font-size: 20px;
  transition: ease-in-out 100ms;
}

.navbar .navbar .logo {
  font-family: "Rock Salt", cursive;
  font-size: 34px;
  color: #fafc52;
}

.navbar .logo {
  font-family: "Rock Salt", cursive;
  font-size: 34px;
  color: #fafc52;
}

.navbar .logo a {
  text-decoration: none;
  color: #fafc52;
}

.navbar .logo {
  font-family: "Rock Salt", cursive;
  font-size: 34px;
  color: #fafc52;
}

.content {
  background-color: black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}

.hide {
  display: none;
}

.cell {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.playerX {
  color: #fafc52;
}

.playerO {
  color: white;
}

#playerDisplay {
  color: #fafc52;
  font-size: 25px;
  margin: 10px;
}

.winning{
  font-size: 25px;
  margin: 10px;
  color: #e70b0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reset-game{
  background-color: #fafc52;
  border: 1px solid #fafc52;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
}